<ion-header *ngIf="dataListSelected.length > 0">
  <ion-toolbar color="dark">
    <!-- close -->
    <ion-buttons slot="start">
      <!-- close button -->
      <ion-button (click)="onClean()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- number items selected -->
    <ion-title>{{ dataListSelected.length }}</ion-title>

    <!-- share + delete + edit -->
    <ion-buttons slot="end">
      <!-- edit button -->
      <ion-button *ngIf="dataListSelected.length == 1" (click)="onEdit()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <!-- delete button -->
      <ion-button (click)="onDelete()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <!-- share button -->
      <ion-button (click)="onShare()">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item *ngFor="let dt of dataList; let i=index" lines="full" button (click)="onClick(dt, i)" (press)="onPress(dt, i)" color="{{ indexListSelected.indexOf(i) != -1 ? 'dark' : '' }}">
    <ion-label *ngFor="let key of attributesToShow">{{ dt[key] }}</ion-label>
  </ion-item>
</ion-list>