<ion-header *ngIf="contactsSelected.length == 0" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Building multiselect list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-list-multiselect 
    [dataList]="contacts"
    [attributesToShow]="contactAttributesToShow"
    (dataClicked)="onClickData($event)" 
    (dataListSelected)="onDataClicked($event)"
    (dataListRemove)="onDataListRemove($event)"
    (dataEdit)="onDataEdit($event)"
    (dataListShare)="onDataListShare($event)"
  >
  </app-list-multiselect>
</ion-content>
